// Style Rules
.board_wrapper {
    height: 70vh;
    border: 1px solid black;
    text-align: center;

    .board_container {
        border: 1px dashed black;
        height: 50vh;
        width: 50vw;
        margin-top: 5rem;
        display: inline-block;
    }
}

